* {
  margin: 0px;
  padding: 0px;
}

/* HEADER */
.header-container {
  background-image: linear-gradient(rgb(106, 30, 130), rgb(208, 18, 132));
  height: 100px;
  margin: 0px;
  display: flex;
  box-shadow: 0 0  15px rgba(0, 0, 0, 0.395);
}

.header {
  margin: 0 auto;
  padding: 0px 20px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.header__logo a{
  color: white;
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.header__login {
  background-color: pink;
  width: 100px;
  height: 30px;
  border-color: white;
  border-style: solid;
  border-radius: 20px;
  background-color: transparent;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__login:hover {
  background-color: rgba(255, 255, 255, 0.33);
}

.header__login a{
  text-decoration: none;
  color: white;
}

/* FOOTER */
.footer {
  background-color: white;
  /* max-width: 800px; */
  height: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo {
  color: blueviolet;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
}

