

body {
    background-color: rgb(124, 84, 154);
    background-image: url(../../images/castelo.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main{
    margin: 0 auto;
    padding: 0px 20px;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    background-color: rgb(70, 31, 107);
    background: linear-gradient(to bottom, rgb(81, 17, 127) 50%, rgb(219, 219, 219)50%);
}

.author-container{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    border-bottom: 1px solid rgb(96, 23, 129);

}

.author {
    margin: 0 auto;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.author:hover {
    color: rgb(185, 183, 183);
}

.presentation {
    font-size: 40px;
    color: white;
    padding-bottom: 30px;
    text-align: center;
}

.presentation h1 {
    font-size: 35px;
}

.presentation p {
    width: 350px;
    font-size: 20px;
    padding: 0 30px 0 30px;
}

/* CAPITULOS */
.chapters {
    background-image: linear-gradient(rgb(83, 20, 127), rgb(211, 15, 131));
    overflow-y: auto;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.725);
    width: 420px;
    height: 400px;
}


/* Barra de rolagem */
.chapters::-webkit-scrollbar {
    width: 10px;
    /* Largura da barra */
    height: 10px;
}

.chapters::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Polegar da barra (a parte que desliza) */
.chapters::-webkit-scrollbar-thumb {
    background: rgb(83, 20, 127);
    border-radius: 5px;
}

/* Polegar ao passar o mouse */
.chapters::-webkit-scrollbar-thumb:hover {
    background: rgba(82, 20, 127, 0.625);
}

/* Barra no estado ativo (quando clicada) */
.chapters::-webkit-scrollbar-thumb:active {
    background: rgb(211, 15, 131);
}


.chapters__title {
    font-size: 20px;
    padding: 20px;
    color: white;
    font-weight: normal;
}

.chapters__chapter {
    padding: 10px 20px 0px 20px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid rgba(167, 14, 106, 0.349);
}

.chapters__chapter a {
    color: white;
    text-decoration: none;
}

/* ADICIONAR COMENTARIOS */
.add-comment {
    margin: 30px;
    width: 280px;
    height: 150px;
}

.add-comment__title {
    color: rgb(203, 22, 133);
    font-size: 20px;
    text-align: center;
}

.add-comment__add {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.add-comment__add textarea {
    width: 220px;
    height: 100px;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
    resize: none;
}

.add-comment__submit {
    height: 100px;
    width: 30px;
    background-image: linear-gradient(rgb(103, 50, 142), rgb(211, 16, 132));
    color: white;
    font-size: 13px;
    border: none;
    border-radius: 0 5px 5px 0;
    writing-mode: vertical-rl;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.8s, background-image 0.2s;
}

.add-comment__submit:hover {
    background-image: none;
    background:  rgb(103, 50, 142);
}

/* COMENTARIOS */
.comments{
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom:60px;
}


.comments__value{
    width: 200px;
    margin:10px;
    color:rgb(83, 20, 127);
    text-align: center;
}

.comments__value span{
    display: block;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}

.footer__work{
    text-align: center;
    padding:10px;
}

.footer__work span{
    font-size: 20px;
    color: rgb(186, 186, 186);
}