/* MAIN */

/* main-CATALOGO-HEADER -> PESQUISAR E LOGO OBRAS */
/* CONTAINER*/
.pesquisa {
    /* background-color: rgb(43, 226, 92); */
    margin: 0 auto;
    margin-top: 40px;
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    max-width: 800px;
    justify-content: space-between;

}

/* CONTAINER = OBRAS + LIVRINHO */
.pesquisa__logo {
    display: flex;
    align-items: center;
}

.pesquisa__logo-img {
    max-width: 30px;
    max-height: 30px;
}

.pesquisa__logo h2 {
    color: rgb(81, 17, 127);
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* CONTAINER = PESQUISAR + LUPA */
.pesquisa__pesquisar {
    align-self: center;
}

.pesquisa__form{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.436);
}

.pesquisa__form input {
    outline: none;
    border: none;
}

.pesquisa__lupa-pesquisar {
    padding-left: 5px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pesquisa__lupa-img {
    width: 100%;
}




/* CATALOGO OBRAS */

.catalogo {
    max-width: 700px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
}

.catalogo__link-obra {
    display: block;
    width: 210px;
    height: 300px;
    padding: 10px;

}

.catalogo__img {
    width: 210px;
    height: 300px;
    margin-bottom: 40px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.595);
    transition: scale 0.3s, box-shadow 0.1s;
}

.catalogo__img:hover {
    box-shadow: 0px 0px 10px blueviolet;
    scale:1.1;
    cursor: pointer;
}


/* Publicar Obra */
.publicar-obra {

    max-width: 800px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.publicar-obra__link {
    display: block;
    background-color: white;
    width: 300px;
    padding: 20px;
    text-align: center;
    border: 5px solid blueviolet;
    text-decoration: none;
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    transition: background-color 0.5s;
}

.publicar-obra__link:hover {
    background-color: rgb(237, 236, 236);
}

